body {
    background: #D4D0C8;
}

.bandwith div {
    width:100%;
    font-size: 0;
    text-align: center;
}

.bandwith div.core,
.bandwith div.cpu-total {
    border-color: white;
    border-width: 1px;
    border-style: outset;
    margin: 2px;
}

.bandwith div.core  {
    display: inline-block;
    width: 24%;
}

.bandwith object.core-graph {
   display: inline; 
   width: 250px;
   height: 300px;   
}

.bandwith div.cpu-total object.cpu-graph {
    height: 640px;
}

.bandwith div.cpu-total {
    display: inline-block;
    width: 8%;
}

.bandwith div.cpu-history {
    display: inline-block;
    width: 91%;
    vertical-align: top;
}

.bandwith div.bottom,
.bandwith div.head {
    font-size: 12pt;
    font-weight: bold;
    text-align:center;
    background: #D4D0C8;
}

.bandwith div.bottom {
    height: 15px;
}