#menu {
    text-align: left;
}
#menu div{
    height: 25px;
    opacity: 0.2;
    filter: alpha(opacity=20);
    display: inline-block;
    margin-right: 60px;
}
#menu div a{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 22px;
}
#menu div a:hover{
    text-decoration: none;
}

#menu select{
  margin-right: 60px;
}